* {
    padding: 0;
    margin: 0
}

#app {
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
}

#navside {
    flex: 2;
    background-color: gray;
}

a {
    text-decoration: none;
}

#navside ul {
    list-style: none;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

#navside ul li {
    font-size: 1.5rem;
}

#content {
    flex: 8;
    background-color: bisque;
}

.sy {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    margin-top: 10%
}

.sy p {
    line-height: 5px;
    margin-top: 5%
}

.top {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 10%;
}

.top p {
    text-align: center;
}

.top span {
    font-weight: bold;
}

.top ul {
    list-style: none;
    margin-top: 10%
}

.top ul li {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.top button {
    width: 100px;
    height: 30px;
    background-color: aquamarine;
    border-radius: 5px;
}

.bot {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    margin-top: 5%
}

.bot ul {
    list-style: none;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 1.2rem;
    margin-top: 5%
}

.ab {
    width: 500px;
    height: 500px;
}

.one img {
    width: 50px;
    height: 50px;
    background-color: green;
}

#box {
    width: 300px;
    height: 200px;
    background-color: darkgray;
    border-radius: 5px;
    z-index: 10;
    position: absolute;
    top: 20%;
    left: 45%;
    display: none;
}

#box p {
    text-align: center;
    margin: 5px
}

#box .bo {
    margin-top: 30px
}